<h1>Tamagotchi!</h1>
<ul>
  <li>Tamagotchi's name: @Model.GetName()</li>
  <ul>
    <li>Hunger level: @Model.GetFood()</li>
    <li>Happiness level: @Model.GetAttention()</li>
    <li>Sleep level: @Model.GetRest()</li>
  </ul>
</ul>
<p><a href="/">Add another Tamagotchi</a></p>
@* <p><a href="/car/list">View current Cars</a></p> *@
